* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
   background: url('bg.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
  }
  
  .chat-container {
    width: 100%;
    max-width: 600px;
    margin: 10px auto;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    height: 96vh;
    max-height: 96vh;
  }
  
  .chat-header {
    background-color: #075e54;
    color: #ffffff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .user-info {
    display: flex;
    align-items: center;
  }
  
  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .user-name {
    font-size: 16px;
    font-weight: bold;
  }
  
  .status {
    font-size: 14px;
    color: #d0f0c0;
  }
  
  .chat-body {
    flex-grow: 1;
    padding: 20px;
    background-color: #ece5dd;
    overflow-y:auto;
    scroll-behavior: auto;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  
  .message {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
  
  }
  
  .message-sent {
    align-self: flex-end;
    background-color: #34b7f1;
    color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    max-width: 70%;
    word-wrap: break-word;
  }
  
  .message-received {
    align-self: flex-start;
    background-color: #dcf8c6;
    padding: 10px;
    border-radius: 10px;
    max-width: 70%;
    word-wrap: break-word;
  }
  
  /* .message-content {
   
  } */
  
  /* .message-sent .message-content {
   
  } */
  
  .message-time {
    font-size: 12px;
    color: #888;
    margin-top: 5px;
  }
  
  .chat-footer {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
    border-top: 1px solid #e0e0e0;
  }
  
  .message-input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #f0f0f0;
    margin-right: 10px;
    outline: none;
  }
  
  .send-btn {
    background-color: #075e54;
    border: none;
    color: white;
    padding: 10px 15px;
    border-radius: 10vh;
    cursor: pointer;
  }
  
  @media (max-width: 600px) {
    .chat-container {
      margin: 0;
      border-radius: 0;
    }
  }
  